<!DOCTYPE html>
<html lang="en">
<head>
  <title>EcROP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/public/js/admin_control.js"></script>

</head>
<style>
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .tooltip-inner {
    max-width: 150px;
    /* If max-width does not work, try using width instead */
    width: 150px; 
  }
}
</style>
<body>

      <div class="container-fluid" style="background:#F7F7F7;min-height: 100%">
        <div class="row" style="height: 80px;"></div>
        <div class="row">

          <div class="col-sm-3" style="padding-top: 15px;">
            <div class="input-group">
            </div>
          </div>

          <div class="col-sm-6" style="padding-top: 15px;background: white;border-radius: 15px;border-color:black">
            <div class="row">
              <form action="/login" method="post">

                <div style="padding-left:30px;padding-right:30px"><h2><center>Retinopathy of Prematurity Economic Model Calculator</center></h2></div>
                <br>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <!-- LOGIN FORM -->
                    <div class="form-group input-group-lg">
                      <label for="exampleInputEmail1" style="font-size:18px">Email Address</label>
                      <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group input-group-lg">
                      <label for="exampleInputPassword1" style="font-size:18px">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <center>
                      <!--<button type="submit" class="btn btn-default btn-lg" onclick="doFunction(); setCookie();">Login</button>-->
                      <button type="submit" class="btn btn-warning btn-lg">Login</button>
                      <button onclick="location.href = '/registration';" type="button" id="registerButton" class="btn btn-default btn-lg">Register</button>
                    </center>
                </div>
                <div class="col-sm-2">
                </div>
              </form>
            </div>
            <br>
            <div class="row" style="padding-left:50px">
              <a href="/public/views/index.html">Proceed without Login</a> <div> </div>

              <a href="#">Forgot Password</a> <div> </div>
            </div>
            <br>
          </div>

          <div class="col-sm-3" style="padding-top: 15px;">
            <div class="input-group">
            </div>
          </div>

        </div>

        <div class="row" style="height: 200px;"></div>
        </div>
</body>
</html>
