<!DOCTYPE html>
<html lang="en">
<head>
  <title>EcROP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/public/js/hashLogin.js"></script>
</head>
<style>
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .tooltip-inner {
    max-width: 150px;
    /* If max-width does not work, try using width instead */
    width: 150px; 
}
}
</style>

<body>

	<div class="container">
		<div class="row">
			<div class="page-header">
				<h1>Registration <small id="main_title">Name, Contact, and Credentials</small></h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-10">

<form action="/registration" method="post" class="form-horizontal">
<h3> Personal Information</h3>
  <div class="form-group">
    <label  class="col-sm-3 control-label">Name</label>
    <!--<div class="col-sm-3">-->
      <!--<input type="email" class="form-control" id="inputEmail3" placeholder="Prefix">-->
    <!--</div>-->
  </div>
<div class="form-group">
    <label class="col-sm-3 control-label"></label>
    <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="username" name="username">
    </div>
</div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Password</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" placeholder="password" name="password">
        </div>
    </div>

  <!--<div class="form-group">-->
    <!--<label class="col-sm-3 control-label"></label>-->
    <!--<div class="col-sm-8">-->
      <!--<input type="text" class="form-control" placeholder="First Name" name="firstName">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
  	<!--<label class="col-sm-3 control-label"></label>-->
    <!--<div class="col-sm-8">-->
      <!--<input type="text" class="form-control" placeholder="Last Name" name="lastName">-->
    <!--</div>-->
  <!--</div>-->

    <!--<div class="form-group">-->
    <!--<label class="col-sm-3 control-label">Email Address</label>-->
    <!--<div class="col-sm-8">-->
      <!--<input type="email" class="form-control" placeholder="email@address.com" name="email">-->
    <!--</div>-->
  <!--</div>-->

    <!--<div class="form-group">-->
    <!--<label class="col-sm-3 control-label">Work Phone Number</label>-->
    <!--<div class="col-sm-8">-->
      <!--<input type="tel" class="form-control" placeholder="1-(###)-###-####" name="workPhoneNumber">-->
    <!--</div>-->
  <!--</div>-->

	<!--<div class="form-group">-->
    <!--<label class="col-sm-3 control-label">Personal Cell Number</label>-->
    <!--<div class="col-sm-8">-->
      <!--<input type="tel" class="form-control" placeholder="1-(###)-###-####" name="personalCellNumber">-->
    <!--</div>-->
  <!--</div>-->
<br>
<br>

<!--<h3> Institution Information</h3>-->
  <!--<div class="form-group">-->
    <!--<label class="col-sm-3 control-label">Institution Name</label>-->
    <!--<div class="col-sm-8">-->
      <!--<input type="email" class="form-control" placeholder="Hospital/Clinic/Research Lab">-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<label class="col-sm-3 control-label">Relationship to Institution</label>-->
    <!--<div class="col-sm-8">-->
      <!--<input type="email" class="form-control" placeholder="Doctor/Administrator/Research Assistant ">-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<label class="col-sm-3 control-label">Institution Address</label>-->
    <!--<div class="col-sm-8">-->
      <!--<input type="email" class="form-control" placeholder="2880 Nulla St. Mankato Mississippi 96522">-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<label class="col-sm-3 control-label">Institution Contact</label>-->
    <!--<div class="col-sm-8">-->
      <!--<input type="email" class="form-control" placeholder="Email">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label class="col-sm-3 control-label"></label>-->
    <!--<div class="col-sm-8">-->
      <!--<input type="email" class="form-control" placeholder="Phone Number">-->
    <!--</div>-->
  <!--</div>-->


<br>
<br>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <!--action="/signup" method="post" -->
      <!--<a class="btn btn-default" onclick="register()">Register</a>-->
      <button type="submit" class="btn btn-warning btn-lg">Register</button>
      <a href="login.html" class="btn btn-default">Cancel</a>
    </div>
  </div>

</form>

			</div>
		</div>
		<div style="height:50px"></div>

	</div>

</body>



